<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookbookapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookbookApp">
        <activity
            android:name=".recipe.DeleteRecipe"
            android:exported="false" />
        <activity
            android:name=".account.DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".MyRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.CreateRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.SearchRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.EditRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.ViewRecipe"
            android:exported="false" />
        <activity
            android:name=".account.EditProfile"
            android:exported="false" />
        <activity
            android:name=".account.ViewProfile"
            android:exported="false" />
        <activity
            android:name=".account.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".Tag.TagList"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>